@model GarageManagementSystem.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10 col-md-4">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10 col-md-4">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class="col-sm-10 col-md-4">
            @Html.DisplayFor(model => model.Vehicle)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Licence)
        </dt>
        <dd class="col-sm-10 col-md-4">
            @Html.DisplayFor(model => model.Licence)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10 col-md-4">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>

    <div class="row">
        <h4 class="col-md-2">Services</h4>
        <div class="col-md-2">
            <a asp-action="AddService" asp-route-id="@Model.Id">Add Service</a>
        </div>
    </div>
    @* REF https://getbootstrap.com/docs/4.0/content/tables/ *@
    <table class="table">
        @if (Model.InvoiceServices != null && Model.InvoiceServices.Any())
        {
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.InvoiceServices)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => service.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => service.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(model => service.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <thead>
                <tr>
                    <th>No Service</th>
                <tr>
            </thead>
        }
    </table>
    <div class="row">
        <h4 class="col-md-2">Parts</h4>
        <div class="col-md-2">
            <a asp-action="AddPart" asp-route-id="@Model.Id">Add Part</a>
        </div>
    </div>
    <table class="table">
        @if (Model.InvoiceParts != null && Model.InvoiceParts.Any())
        {
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.InvoiceParts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => service.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => service.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(model => service.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <thead>
                <tr>
                    <th>No Part</th><tr
                >
            </thead>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
