@model IEnumerable<GarageManagementSystem.ViewModels.RosteringBookingViewModel>
@using GarageManagementSystem.Enums

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
<div class="row">
    <div class="col-md-12">
        @* REF https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/adding-search *@
        <form asp-action="Index">
            <div class="form-inline">
                <div class="form-group col-md-5">
                    <label class="control-label">Initial Date</label>
                    <input class="form-control" name="InitialDate" type="datetime-local" value="@ViewBag.InitialDate"
                        asp-format="{0:yyyy-MM-ddTHH:mm}">
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Final Date</label>
                    <input class="form-control" name="FinalDate" type="datetime" value="@ViewBag.FinalDate"
                        asp-format="{0:yyyy-MM-ddTHH:mm}">
                </div>
                <div class="form-group col-md-3">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <input type="button" value="Print Schedule" class="btn btn-primary"
                        onclick="window.location.href = '/Management/PrintSchedule?initialdate=@ViewBag.InitialDate.ToString("yyyy-MM-ddTHH:mm")&finaldate=@ViewBag.FinalDate.ToString("yyyy-MM-ddTHH:mm")'" />
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleLicence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MechanicName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleLicence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MechanicName)
                </td>
                <td>
                    @if(item.Status == Status.Booked){
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    } |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    @if(item.Status == Status.Booked){
                        <a asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@Status.InService">Start Servicing</a>
                    }else if(item.Status == Status.InService){
                        <a asp-controller="Invoice" asp-action="Create" asp-route-bookingId="@item.Id">Finish Service</a>
                        @* <a asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@Status.FixedCompleted">Finish Service</a> *@
                        <a asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@Status.UnrepairableScrapped">Unrepairable/Scrapped</a>
                    }else if(item.Status == Status.FixedCompleted || item.Status == Status.UnrepairableScrapped){
                        <a asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@Status.Collected">Collected</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
